# Defaults & System
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# Environment Variables
.env
.env*.local

# Backend Specifics
Backend/node_modules/
Backend/dist/
Backend/uploads/
Backend/thumbnails/
Backend/video-thumbnails/

# Testing
coverage/
